table {
  border-left: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
}

td,
th {
  text-align: center;
  border-right: 1px solid #afafaf;
  color: rgba(0, 0, 0, 0.6);
  font-size: 17px;
}

th {
  font-family: "OpenSans-Bold";
}

td {
  font-weight: 400;
}

.table>tbody>tr>th,
.table>tbody>tr>td {
  border-top: 1px solid #afafaf;
}

.dropdown {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 2000;
  margin-top: 16px;
  min-width: 135px;
  border-radius: 5px;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 9px 0 rgba(0, 0, 0, 0.4);
}

.dropdown-content:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #616161;
  border-width: 8px;
  margin-left: -18px;
}

.dropdown-content span {
  color: #333;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px 5px 0px 0px;
  display: block;
}

.dropdown-content a {
  color: #333;
  font-size: 18px;
  padding: 5px;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  color: #333;
}

.dropdown-content .given {
  background-color: #99e999;
}

.dropdown-content .notgiven {
  background-color: #ff7676;
  border-radius: 0px 0px 5px 5px;
}
