<!-- Extend base template -->
{% extends 'base.html' %}

<!-- Set active class for 'Forgot Password' menu item -->
{% set active = "Forgot Password" %}

<!-- Update page title with 'Forgot Password' -->
{% block title %} Forgot Password {% endblock %}

<!-- About page content -->
{% block content %}
  <div class="container-fluid page-content">
    <div class="container">
      <div class="row page-header">
        <div class="col-md-12">
          <h1><span>Forgot Password</span></h1>
          <p>Please enter your registered email address here, and we will give you a password reset link.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid vaccine-form" id="forgot-password-form">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-6">
          <h2> Forgot Password Form </h2>
          <form method="post">
            <input type="email" class="form-control" placeholder="Email Address" required="required">
            <div class="form-group">
              <button class="btn btn-primary" value="Forgot Password" type="submit">Forgot Password <i class="fa fa-angle-right"
                  aria-hidden="true"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
