<!-- Extend base template -->
{% extends 'foundation.html' %}

<!-- Set active class for 'Vaccine Details' menu item -->
{% set active = "Vaccine Details" %}

<!-- Update page title with 'HIB Vaccine' -->
{% block title %} HIB Vaccine {% endblock %}

<!-- HIB vaccine page content -->
{% block content %}
  <div class="col-md-12 text-right">
    <button class="backbutton animate-box" data-animate-effect="fadeInLeft">
      <a href="/vaccine-details" title="Back to Vaccine List">Back</a>
    </button>
  </div>

  <div class="fh5co-narrow-content vaccine-list vaccine-info">
    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft"><i class="fa fa-arrow-right" aria-hidden="true"></i>Disease Spectrum of Hib Infection?</h2>
    <p class="animate-box" data-animate-effect="fadeInLeft">
      Hib infection usually leads to invasive disease like meningitis, epiglottitis, pneumonitis, cellulitis, arthritis, septicemia etc. Of the invasive H. influenzae infections in children, 99% are due to type b and rarely due to type a or other non- typeable H. influenzae organisms. <br>
      Various studies show that 15- 20% of cases of ALRI and 30- 40 % cases of pyogenic meningitis are due to Hib infection.<br>
      Non-type b & non - capsulated H. influenza infection commonly lead to upper respiratory tract infections, otitis media, sinusitis, chronic respiratory tract infection and other non- invasive infections especially in children less than 7 years of age. <br>
      Hib infection is most commonly seen in children less than 5 years of age. The mean age of onset is 6-24 months after which it declines gradually till 5 years. 95% of Hib infections occur before 5 years of age. <br>
      Higher the incidence of Hib in community, earlier is the age of onset, more is the chance of meningitis and less is the chance of epiglottitis. In developed countries 10% of Hib disease occurs before 6 months of age, 40% by 1 year and 75% by 2 years. In developing countries 45% of total Hib infections occur by 6 months of age and 65 - 75 % by 1 year. This has a bearing on the immunization strategy, as earlier the age of onset (like in India), earlier should be the completion of 3 primary doses of Hib vaccine.
    </p>

    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft"><i class="fa fa-arrow-right" aria-hidden="true"></i>Severity of HIB Infection</h2>
    <p class="animate-box" data-animate-effect="fadeInLeft">
      Hib leads to very severe infections at a very young age. The case fatality rate of Hib meningitis in developed countries is 2-4% but that in developing countries is as high as 30 -40% or even nearly 100% depending on drug resistance and type of drug used primarily. <br>
      The long-term sequelae of meningitis and epiglottitis are also high. Post meningitis sequelae are seen in 15- 30% of cases in the form of deafness or blindness or severe neurological damage etc.
    </p>

    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft"><i class="fa fa-arrow-right" aria-hidden="true"></i>HIB Carrier State</h2>
    <p class="animate-box" data-animate-effect="fadeInLeft">
      Newborns are protected against Hib by maternal antibodies for first few months of life. After that the child coming in contact with Hib develops nasopharyngeal carrier state from where it can spread and lead to invasive Hib disease or spread to other susceptible hosts in community. <br>
      The carrier state in developed countries is estimated to be 2-3 % and in developing countries 5- 10 %. In day care centers it can reach as high 20-30%. In family contacts of index case it is 10-12%. <br>
      After effective immunization, the carrier rate has decreased from 6 % to 1.5 % in some studies.
    </p>

    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft"><i class="fa fa-arrow-right" aria-hidden="true"></i>Drug Resistant HIB In India</h2>
    <p class="animate-box" data-animate-effect="fadeInLeft">
      Before 1984, studies suggested almost 100% sensitivity of Hib to common antibiotics. Since then many reports have shown emergence of multi-drug resistant strains to the tune of 40-60% of total Hib cases. However, all of them appear to be sensitive to 3rd generation cephalosporins at present. The drug resistance appears to be mediated by R plasmid. It appears to be uniform all over the country.
    </p>

    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft"><i class="fa fa-arrow-right" aria-hidden="true"></i>Different Generations of HIB Vaccines</h2>
    <p class="animate-box" data-animate-effect="fadeInLeft">
      First generation of Hib vaccine contained the PRP (Poly Ribosiyl Polysaccharide) antigen. PRP per se leads to non-T dependent type of immune response characterized by IgM type of antibody, which are lower in magnitude, shorter lasting, without any T cell memory and like other polysaccharide vaccines not immunogenic below 18 months of age. <br>
      Since 1987, 2nd generation of Hib vaccines are available where the PRP hapten is conjugated (linked) with a carrier protein. This, so as to say, fools the T cell and leads to T cell dependent response characterized by IgG type of antibodies which is of higher magnitude, long lasting and has T cell memory. It is also immunogenic from 6 weeks to 8 weeks of age & hence can be used at an early age when it is actually required the most.
    </p>

    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft"><i class="fa fa-arrow-right" aria-hidden="true"></i>Storage and Method of Administration</h2>
    <p class="animate-box" data-animate-effect="fadeInLeft">
      Hib vaccine is given intramuscularly over the anterolateral aspect of the thigh or the deltoid region. <br>
      Hib vaccine is stored between 2-8 &deg;C. It should never be frozen and should be discarded if frozen by mistake. The shelf life is for 2 years if stored properly. It should not be stored in the door compartment. Even the diluent should be kept at 2-8 &deg;C.
    </p>

    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hib Vaccine Side Effects</h2>
    <p class="animate-box" data-animate-effect="fadeInLeft">
      Local reactions can occur like redness (16%), swelling (16%), pain (27%), etc. They are more common with first dose than with subsequent doses. Systemic side effects seen include fever (5-10%), which is mild and lasts for 24 hours, excessive crying, fussiness, irritability (30%), vomiting (5%), drowsiness, anorexia (20%), diarrhea etc. Rarely anaphylaxis can occur like with any other vaccine.
    </p>

    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft"><i class="fa fa-arrow-right" aria-hidden="true"></i>Vaccine Failure</h2>
    <p class="animate-box" data-animate-effect="fadeInLeft">
      Poor cold chain maintenance can be one of the reasons for poor response. True failure is seen in less than 3-5% of cases. The cases include poor choice of vaccine (e.g. PRP-D), immune compromised host or breakthrough infection occurring before the schedule can be completed.
    </p>

    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft"><i class="fa fa-arrow-right" aria-hidden="true"></i>Burden of H. Influenza B Infections</h2>
    <p class="animate-box" data-animate-effect="fadeInLeft">
      Annual incidence of Hib meningitis varies from country to country. It varies from 35 - 300 cases / 1,00,000 children less than 5 years of age. In developed countries it is low, like in USA before universal Hib immunization, it was 60 - 70/1,00,000 children less than 5 years of age and in Europe 35/100,000 children less than 5 years of age. In developing countries, it is higher e. g. in Alaska it is 300/100,000 children less than 5 years of age. <br>
      In the west, of the total cases of invasive Hib disease, 40-75% present with meningitis, 25 % with epiglottitis and 25% with rest of the illnesses. Higher the incidence, higher is the rate of meningitis and lower is epiglottitis. In India, IDIS study has shown that of the total cases of Hib diseases, 66% present as meningitis, 7% as pneumonitis, 7% as skin and soft tissue infections, 7% as sepsis and rest as other manifestations.<br>
      Exact incidence of Hib in Indian community is not known. Looking at the world experience it is likely to be as high as the other developing countries. There are two problems in our country. First is lack of community based data and second is lack of laboratory facilities to culture Hib as Hib is a fastidious organism to grow.<br>
      In a study from Pune, Maharashtra it was shown that protective levels of anti PRP antibodies (>0.15 mcg/ml) were present in 20% of children by 1 year of age, 35% by 3 years and 80% by 5 years. It suggests the pattern of natural, clinical or subclinical infection and immunity acquired at different ages. Yet, majority of them are not protected in the early months or years of life.<br>
      There are only hospital- based data available, which suggest that 15-40 % of cases of pyogenic meningitis and 7-15% of cases of lobar pneumonia in children are due to Hib infection. There are reports of occasional cases of invasive H. influenzae disease caused by type a or other non-typeable strains. In children, more then 95% of cases of invasive H.influenza disease are due to Hib. The data from India shows similar pattern as seen in Europe before mass vaccination there. In such case, extrapolation of their data to India, estimates the incidence of Hib meningitis to be 60-80/100,000 children less than 5 years of age in India.
    </p>
  </div>
{% endblock %}
