<!-- Extend base template -->
{% extends 'base.html' %}

<!-- Set active class for 'Reset Password' menu item -->
{% set active = "Reset Password" %}

<!-- Update page title with 'Reset Password' -->
{% block title %} Reset Password {% endblock %}

<!-- About page content -->
{% block content %}
  <div class="container-fluid page-content">
    <div class="container">
      <div class="row page-header">
        <div class="col-md-12">
          <h1><span>Reset Password</span></h1>
          <p>In order to reset your password, please enter your new password and confirm password.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid vaccine-form" id="forgot-password-form">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-6">
{#          <h2> Reset Password Form </h2>#}
          <form method="post">
              <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
            <input type="password" name="password" class="form-control" placeholder="Password" required="required">
            <input type="password" name="confirm password" class="form-control" placeholder="Confirm Password" required="required">
            <div class="form-group">
              <button class="btn btn-primary" value="Reset Password" type="submit">Reset Password <i class="fa fa-angle-right"
                  aria-hidden="true"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
